<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
             <main>
            <h2>Adicionar Dados</h2>
            <form th:action="@{/lances}" method="post">
                <label>Titulo:</label>
                <input type="text" th:field="*{titulo}" />
                <br /><br />
                <label>Descrição:</label>
                <input type="text" th:field="*{descricao}" />
                <br /><br />
                <label>Data de Fechamento: </label>
                <input type="date" th:field="*{dataFechamento}" />
                <br/><br/>
                <label>Status: </label>
                <input type="text" th:field="*{status}" />
                <br/><br/>
                <button type="submit">Salvar</button>
            </form>
        </main>   
    </body>
</html>
